.advantages {
  margin-top: 20px;
}

.advantages__title {
  font-family: $primary-font;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin: 0;
  padding: 0 75px 0 20px;
  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  margin: 0;
}

.advantages__item {
  list-style-type: none;
}

.advantages__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: $special-dark-grey;
  margin: 0;
  padding: 42px 20px 0 20px;
  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

